{% extends 'base.html.twig' %}

{% block title %}Digital Event 2024{% endblock %}

{% block body %}
    {% for workshop in workshops %}
        <p>#{{ workshop.number }}</p>
        <p>{{ workshop.name }}</p>
        <p>{{ workshop.description }}</p>
    {% endfor %}
    <body>
    <main>
        <h1 class="head">Digital event 2024</h1>
        <ul class="item-list">
            <li class="item1">
                <input type="radio" name="point" id="slide1" checked>
                <label for="slide1" class="label">
                    <h4>Codewars call to me,<br>
                        Challenging my skills to slay<br>
                        Cthulhu with code.</h4><span class="control"></span>
                    <div class="slider ">
                        <img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item1_s0nms6_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item1_s0nms6_c_scale,w_589.png" alt="slay Cthulhu with code" />
                    </div>
                </label>
            </li>
            <li class="item2">
                <input type="radio" name="point" id="slide2">
                <label for="slide2" class="label">
                    <h4>Cthulhu lurks deep down,<br>
                        Codewars my weapon to fight,<br>
                        Code my mighty shield.</h4><span class="control"></span>
                    <div class="slider ">
                        <img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item2_adicjm_c_scale,w_320.png 320w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item2_adicjm_c_scale,w_468.png 468w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item2_adicjm_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item2_adicjm_c_scale,w_589.png" alt="Code my mighty shield" />
                    </div>
                </label>
            </li>
            <li class="item3">
                <input type="radio" name="point" id="slide3">
                <label for="slide3" class="label">
                    <h4>Code challenges rise,<br>
                        With Cthulhu's tentacles,<br>
                        Codewars my fortress.</h4><span class="control"></span>
                    <div class="slider ">
                        <img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_320.png 320w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_468.png 468w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_589.png" alt=" Cthulhu's tentacles" />
                    </div>
                </label>
            </li>
        </ul>
    </main>
    </body>


{% endblock %}
